{% extends 'wishlist/base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "col-lg-6">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
       
            <input class="btn btn-primary" type="submit" value="Login">
            <div class="form-text">Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a></div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        

</div>

{% endblock content %}