{% extends 'wishlist/base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}
{% load crispy_forms_tags %}

{% block content %}  

<div class = "login">
    
    <h1>Formulir Registrasi</h1>  
        <form method="POST" >  
            {{ form|crispy }}
            <input type="submit" name="submit" class="btn btn-primary" value="Daftar"/>
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}