{% extends 'wishlist/base.html' %}
{% block content %}
<h5>Nama: <b>{{nama}}</b></h5>

<table class="table">
    <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</td>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
    {% endfor %}
</table>
<h5>Last Login: {{ last_login }}</h5>

{% endblock content %}
