
{% extends 'wishlist/base.html' %}
{% block content %}
<h5>Nama: <b>{{nama}}</b></h5>

<form id="create-wishlist-form"  onsubmit="submitFormWishlist(event)">
    {% csrf_token %}
    <h3>Create wishlist</h3>
  <div class="mb-3">
    <label for="nama_barang" class="form-label">Nama Barang</label>
    <input type="text" name="nama_barang" class="form-control" placeholder="Nama barang" >
  </div>
  <div class="mb-3">
    <label for="harga_barang" class="form-label">Harga</label>
    <input type="number" name="harga_barang" class="form-control" placeholder="Harga barang">
  </div>
  <div class="mb-3">
    <label for="deskripsi" class="form-label">Deskripsi</label>
    <input class="form-control" name="deskripsi" placeholder="deskripsi">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table" id="wishlist-table">
    <thead>
        <tr>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Deskripsi</th>
        </tr>
    </thead>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    <tbody>

    </tbody>
    {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</td>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
    {% endfor %}

</table>
<h5>Last Login: {{ last_login }}</h5>

{% endblock content %}
{% block script %}
<script>

    function renderTable(items) {

        const tbody = $('#wishlist-table > tbody');
        tbody.empty();

        items.forEach(item => {
            const row = $("<tr>");
            const fieldsToShow = ["nama_barang", "harga_barang", "deskripsi"];
            fieldsToShow.forEach(field => {
                row.append($("<td>").append(item.fields[field]));
            })
            tbody.append(row);
        });

    }

    function submitFormWishlist(event) {

        event.preventDefault();
        
        const form = $("#create-wishlist-form");
        const actionUrl = "{% url 'wishlist:create' %}";
        console.log("form serial", form.serialize())

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(),
        }).done(function (data) {
            refreshTable();
        });
    }
  
    function refreshTable() {
        const dataUrl = "{% url 'wishlist:get_json' %}";
        const data = $.getJSON({
            url: dataUrl
        }, function (data) {
            console.log(data);
            renderTable(data);
        });
    }
    $(document).ready(() => refreshTable())
</script>
{% endblock script %}
